# This is this equivalent of the API-based declaration
# at the beginning of the tutorial
[nlp]
lang = "eds"
pipeline = ["ner"]
components = ${ components }

[nlp.tokenizer]
@tokenizers = "eds.tokenizer"

[components]

[components.ner]
@factory = "eds.ner_crf"
mode = "joint"
target_span_getter = "ml-ner"
window = 20
labels = ["BIO", "BIO_comp", "BIO_milieu", "Chemical_and_drugs", "Constantes", "DISO", "SECTION_antecedent", "SECTION_antecedent_familiaux", "SECTION_autre", "SECTION_evolution", "SECTION_examen_clinique", "SECTION_examen_complementaire", "SECTION_histoire", "SECTION_mode_de_vie", "SECTION_motif", "SECTION_traitement", "SECTION_traitement_entree", "Temporal"]
infer_span_setter = true
stride = 10
embedding = ${ cnn }


[cnn]
@factory = "eds.text_cnn"
kernel_sizes = [3]
embedding = ${ transformer }

[transformer]
@factory = "eds.transformer"
model = "prajjwal1/bert-tiny"
window = 128
stride = ${ transformer.window//2 }

[components.ner.span_setter]
ml-ner = ["BIO", "BIO_comp", "BIO_milieu", "Chemical_and_drugs", "Constantes", "DISO", "SECTION_antecedent", "SECTION_antecedent_familiaux", "SECTION_autre", "SECTION_evolution", "SECTION_examen_clinique", "SECTION_examen_complementaire", "SECTION_histoire", "SECTION_mode_de_vie", "SECTION_motif", "SECTION_traitement", "SECTION_traitement_entree", "Temporal"]

# This is were we define the training script parameters
# the "train" section refers to the name of the command
# in the training script
[train]
nlp = ${ nlp }
train_adapter = { "@adapters": "ner_adapter", "path": "/home/pidoux/LIMICS/brat/data/RENE/" }
val_adapter = { "@adapters": "ner_adapter", "path": "/home/pidoux/LIMICS/brat/data/RENE/" }
max_steps = 4
seed = 42
lr = 3e-4
batch_size = 8
